.todo {
    background-color: lightblue;
    border-radius: 18px;
    padding: 15px 30px;
    margin: 20px auto;
}

.todo:hover {
    box-shadow: 8px 8px 20px #3c3c3c39;

}
.todohead{
    display: flex;
    justify-content: space-between;
}

button.btnreact {
    background-color: lightblue;
    border-radius: 18px;
    padding: 5px 10px;
    margin: 5px 12px;
    font-size: 17px;
    border: none;
}

button.btnreact:hover {
    box-shadow: 5px 5px 15px #00000039;
    background-color: rgba(245, 245, 245, 0.63);

}

button.btndelete{
    color: red;
    border: none;
}

/*todo element css*/
.id {}

.image {
    /* width: 250px; */
    height: 50vh;
    display: block;
    margin: 20px auto;
}

.title {
    width: 650px;
    font-size: 15px;
    margin: 15px auto;
    padding: 10px 20px;
    font-family: 'PT Sans', 'Baloo 2','Baloo Bhai 2', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.514);
    border-radius: 12px;
}